<h4> General </h4>
<li> <a href = "https://huggingface.co/spaces/openai/whisper"> Whisper AI transcriber </a> </li>

<h4> French </h4>
<li> <a href = "https://www.bluey.tv/"> Bluey Official </a> </li>
<li> <a href = "https://www.youtube.com/@BlueyFrancais"> Bluey Youtube FR </a> </li>

<h4> Japanese </h4>
<li> <a href = "https://www.youtube.com/@organicjapanesewithcuredol49"> Cure Dolly </a> </li>
<li> <a href = "https://sakuramanga.org/p-yotsuba-to/"> Yotsuba Raws </a> </li>

<h4> Transcripts </h4>
{% for transcript in site.transcripts %}
  <li>
    <a href="{{ transcript.url }}"> 
      {{ transcript.show }}: {{ transcript.epName }} 
      (S{{ transcript.season }}E{{ transcript.episode}})
    </a>
  </li>
{% endfor %} 