<h4> Links </h4>
<li> <a href = "https://www.ribbonfarm.com/2009/10/07/the-gervais-principle-or-the-office-according-to-the-office/"> Gervais Principle </a> </li>

<h4> The Individual </h4>
<li>
Different lives. Different journeys.
Pluralism
Shared experiences
Pluralism vs One-size-fits all
</li>

<h4> WANTING AND GETTING </h4>
<li>
Direction.
Adaptable. Problem Solving.
OODA.
Adjacent Possible. Progress.
Gumption to get it right.
Covering bases, avoiding ruin.
</li>

<h4> SPIRITUAL </h4>
<li>
Useful beliefs
Value of religion
Reconciling religion with rationality
</li>

<h4> LEARNING </h4>
<li>
Map to Territory
Shu-Ha-Ri
Input-Process-Output
</li>

<h4> SOCIETY </h4>
<li>
Structure of society. Gervais Principle.
Circles out
</li>
