<!doctype html>
  
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-884Z1YXQ58"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-884Z1YXQ58');
  </script>

  <body>
    <header>
      {% include navi.html %}
    </header>
     
    <div id = "book">
      {{ content }}
    </div>

    <footer>

    </footer>

  </body>
  
</html>